/* Roman-script fonts */
@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Regular.otf") format("opentype"); }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Bold.otf") format("opentype"); font-weight: bold; }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Oblique.otf") format("opentype"); font-style: italic; }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-BoldOblique.otf") format("opentype"); font-style: italic; font-weight: bold; }

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    font-family:"IndUni-H";
}

body{
    margin-left: 30px;
    height:100%;
    width: 100%;
}

.footer {
  background-color: #f5f5f5;
}

.edition-content{
    width: 75%;
}

@font-face {
  font-family: 'e-VatteluttuOT', monospace;
  src: url(https://github.com/erc-dharma/project-documentation/blob/master/guides/fonts/e-VatteluttuOT.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansTamil-Regular', monospace;
  src: url(https://github.com/erc-dharma/project-documentation/blob/master/guides/fonts/NotoSansTamil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansGrantha-Regular', monospace;
  src: url(https://github.com/erc-dharma/project-documentation/blob/master/guides/fonts/NotoSansGrantha-Regular.ttf) format('truetype');
}

.tooltipSiglum {
        position: relative;
        color: #1E90FF;
          }

.abbreviation {
  color: #a57659;
  position: relative;
}

div {
        left: 30px;
        padding-right: 0.2em;
        position:relative;
        text-align: justify;
    }
h2 {
        left: -18px;
        padding-right: 0.2em;
        position: relative;
        }
P {
      position: relative;
      }
.latinnum {
    border-top: thin black solid;
     }
.supraline {
    border-top: thin black solid;
     }
.csl-entry{
  left: -30px;
  display: inline;
}

.csl-bib-body{
  display: inline;
  text-indent: -10px;
}

.refBibl{
  display: inline;
  position: relative;
  left: -1px;
}
.previouslyread {
    text-decoration: underline;
     }
*[lang="la"] {
    font-family: "GentiumAlt", "Gentium","Palatino Linotype", "Palatino", "Times New Roman", "Times", "Arial Unicode MS", serif;
}
*[lang="grc"] {
    font-family: "Lucida Grande", "Arial Unicode MS","Galilee Unicode Gk", "New Athena Unicode", "Athena Unicode",
    "Palatino Linotype", "Titus Cyberbit Basic", "Cardo", "Vusillus Old Face", "Alphabetum", "Galatia SIL",
    "Code 2000", "GentiumAlt", "Gentium", "Minion Pro", "GeorgiaGreek", "Vusillus Old Face Italic",
    "Everson Mono", "Aristarcoj", "Porson", "Legendum", "Aisa Unicode", "Hindsight Unicode", "Caslon",
    "Verdana", "Tahoma";
   }

*[lang="tam-vat"]{
  font-family: "e-VatteluttuOT";
}

*[lang="tam-tam"]{
  font-family: "NotoSansTamil-Regular", "NotoSansGrantha-Regular";
}

   .siglum {
           color: #1E90FF;
             }
.textpart {
    left: 6em;
    line-height: 1.4;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    padding-right: 2em;
}
.textpartnumber {
    padding-right: 0.2em;
    position: relative;
    }
.linenumber {
    color: black;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    height: 75px;
    background: #f0f0f5;
    border-radius: 50%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-right: 2px;
    padding-left: 2px;
    }
/*border: 1px solid black;
text-align:center;*/
.linenumberapp {
        color: black;
        position: relative;
        text-decoration: none;
        font-weight: bold;
        background: #f0f0f5;
        border-radius: 50%;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding-right: 2px;
        padding-left: 2px;
        }
.linenumberbroken {
    left: -4em;
    padding-right: 0.2em;
    position: absolute;
    color: red ;
    text-decoration: blink ;
    }
.versenumber {
  color: black;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  height: 75px;
  background: #f0f0f5;
  border-radius: 50%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 2px;
  padding-left: 2px;
}
.cpnumber {
    font-weight: bold;
}
.verse-meter {
    font-style: italic;
}
.label-meter{
    font-weight: bold;
    font-style: italic;
}
.verse-part{
  left: 2px;
}
.first-line{
      margin-top: 10px;
}
.translated-stanzanumber{
  font-weight: bold;
}
.petraeligature {
    text-decoration: underline;
    }
.underline {
    text-decoration: underline;
    }
.italic {
    font-style: italic;
    }
.symbol {
        border: 2px solid black;
        border-radius: 8px;
        padding: 0.03em;
        }
.grantha {
        font-weight: bold;
        }
.reading {
        font-style: italic;
        color: #228B22;
          }
.orig {
        color: #C71585;
          }
.reg {
        color: #4169E1;
          }
.sic {
        color: #FF6347;
      }
.corr {
        color: #32CD32;
            }
.notBold{
  font-weight: normal;
}

/*.notChoice{
  color:black;
}*/

.certlow{
  color: red;
}
.resp{
        font-variant: small-caps;
}

.block{
  left: 35px;
  max-width: 96%;
}

.notBulleted{
  list-style-type: none;
}

dl{
    padding: 1em;
    display: block;
    /*margin-block-start: 1em;
    margin-block-end: 1em;*/
    padding-inline-start: 40px;
}

dl:after {content:"";display:table;clear:both;}

dt {
    /*
    width: ;
    text-align: left;
    
    clear: left;
    font-weight:bold;*/
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    font-weight: bold;
}
dd {
    float: left;
    width: 70%;
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

/*/\* If the screen size is 601px wide or more, set the font-size of <div> to 80px *\/
@media screen and (min-width: 601px) {

}
/\* If the screen size is 600px wide or less, set the font-size of <div> to 30px *\/
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}*/

#sidebar-wrapper {
    width: 200px;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
}


#sidebar-wrapper .nav-link.active {
  background-color: #00ACC1 !important;
}

.nav-second{
    position:relative;
    left: 20px;
}

#toggle-table-contents{
    position: fixed;
    left: 10px;
}
