/* Updated and reworked for DHARMA by Axelle Janiak, CNRS-EHES, 2021. */
/* Roman-script fonts */
@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Regular.otf") format("opentype"); }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Bold.otf") format("opentype"); font-weight: bold; }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-Oblique.otf") format("opentype"); font-style: italic; }

@font-face { font-family: "IndUni-H"; src: url("https://cdn.jsdelivr.net/gh/erc-dharma/project-documentation@master/docs/fonts/IndUni-H/IndUni-H-BoldOblique.otf") format("opentype"); font-style: italic; font-weight: bold; }

html{
    font-family:"IndUni-H";
}

body{
    background-color:#eeeeee;
    font-family:"IndUni-H";
    font-size: medium;
    height:100%;
    width: 100%;
    position: relative;
    display: grid;
    overflow-x: hidden;
}

.content {
    /* display: flex;*/
    width: 75%;
    margin: 0 auto;
   } 
   
#sidebar-wrapper {
    width: 275px;
    position: fixed;
    top: 150px;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
}

#sidebar-wrapper h4{
    color: black;
}

#sidebar-wrapper .nav-link.active {
  background-color: #00ACC1 !important;
}

.symbol {
        border: 2px solid black;
        border-radius: 8px;
        padding: 0.03em;
        }
       
.text-muted .siglum {
    color: grey;
}
.title {
    font-style:italic;
}

.surplus:before {
    content:"{";
}

.surplus:after {
    content:"}";
}

.mark {
    background-color: yellow;
} 

.lost-illegible:before {
    content:"[";
}

.lost-illegible:after {
    content:"]";
}

.tooltipApp:hover ~ .sic{
    background-color: yellow;
}

.sic{
    color:#a34545;
}

.p-note{
    display: inline-block;
    margin: 0 !important; 
}

.wrapper{
  width: 650px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

.nav-tabs{
  width: 650px;
}
.nav-item{
  width: 50%;
}
.nav-item-second{
  width: 75%;
}
.nav-second{
    position:relative;
    left: 40px;
}
.nav-tabs .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-tabs .nav-link.active{
  background: #fff;
  color: #000;
}
.tab-content{
  position: relative;
  width: 650px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

#toggle-table-contents{
    position: fixed;
    top: 100px;
    left: 10px;
}


.app-lem span{
    color:#336600;
}

.app-lem, .fake-lem{
    color:#336600;
}
.app-rdg, .app-rdg *{
    color:#b38600;
}
.lineation{
font-style: normal;
}