/* CSS file based on salit.css written by Andrew Ollett */
/* Updated and reworked for DHARMA by Axelle Janiak, CNRS-EHES, 2021. */
.symbol {
        border: 2px solid black;
        border-radius: 8px;
        padding: 0.03em;
        }
       
.text-muted .siglum {
    color: grey;
}
.title {
    font-style:italic;
}

.surplus:before {
    content:"{";
}

.surplus:after {
    content:"}";
}

.mark {
    background-color: yellow;
} 

.lost-illegible:before {
    content:"[";
}

.lost-illegible:after {
    content:"]";
}

.tooltipApp:hover ~ .sic{
    background-color: yellow;
}

.sic{
    color:#a34545;
}

.p-note{
    display: inline-block;
    margin: 0 !important; 
}

.wrapper{
  width: 650px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

.nav-tabs{
  width: 650px;
}
.nav-item{
  width: 50%;
}
.nav-item-second{
  width: 75%;
}
.nav-second{
    position:relative;
    left: 40px;
}
.nav-tabs .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-tabs .nav-link.active{
  background: #fff;
  color: #000;
}
.tab-content{
  position: relative;
  width: 650px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}