#sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
}

#sidebar-wrapper.active {
    margin-left: -250px;
}

#sidebar-wrapper .nav-link.active {
  background-color: #00ACC1 !important;
}

.pagination{
    font-size: small;
}

.stanza{
    position: relative;
    margin-top:10pt;
    margin-bottom:10pt;
    margin-left:40px;
    margin-right:40px;
}

.bloc-notes{
    display: inline;
}

.corr{
    color: #32CD32;
}

.sic {
        color: #FF6347;
      }